@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "poppins";
}

.App {
  height: 100vh;
}

.project-tabs {
  @apply lg:w-32 md:w-32 font-bold h-10 text-center cursor-pointer p-2 rounded-sm;
}

.fa-outlined {
  -webkit-text-fill-color: transparent !important;
  -webkit-text-stroke-width: 1px !important;
}

.out-of-focus {
  height: 200vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 10;
  display: none;
}
.center-modal {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

::-webkit-scrollbar {
  height: 10px;
}
::-webkit-scrollbar-track {
  background-color: #6b7280;
}

::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 10px;
}
