@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

* {
  font-family: "poppins";
}

.App {
  height: 100vh;
}

.fa-outlined {
  -webkit-text-fill-color: transparent !important;
  -webkit-text-stroke-width: 1px !important;
  -webkit-text-stroke-color: black !important;
}

.out-of-focus {
  height: 200vh;
  overflow: none;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 10;
  display: none;
}
.center-modal {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
